@mixin addFont($name: "Arial", $weight: "Regular", $style: "normal") {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    src:
      local($name),
      url("@/assets/fonts/" + $name + "/" + $name + "-" + $weight + ".woff2") format("woff2"),
      url("@/assets/fonts/" + $name + "/" + $name + "-" + $weight + ".woff") format("woff");
    font-display: swap;
  }
}
