$primary: hsl(0deg 0% 100%);
$secondary: hsl(0deg 0% 0%);
$theme: hsl(216deg 100% 66%);

$text_clr: lighten($secondary, 47%);
$main_clr: hsl(0deg 100% 50%);
$price_clr: hsl(130deg 100% 36%);
$border_clr: darken($theme, 13%);
