.bs-first-screen {
  $self: &;

  &__media {
    position: relative;
  }
  
  &__socials {
    position: absolute;
  }

  &--is-full {
    #{$self} {
      &__img {
        height: em(715, $fz); 
      }
      
      &__info {
        margin-top: em(23, $fz);
      }
      
      &__socials {
        top: em(30, $fz);
        right: em(25, $fz);
      }
      
      &-socials {
        &__item {
          &:not(:last-child) {
            margin-right: em(50, $fz);
          }
        }
      }

      &-info {
        padding-right: em(65, $fz);
        padding-left: em(65, $fz);

        &__promo {
          $fz: 24;
          margin-top: em(80, $fz);
          font-size: em($fz, $fz_base);
        }

        &__wrapper {
          margin-top: em(75, $fz);

          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &__btn {
          width: 100%;
          max-width: em(466, $fz);

          padding: em(15 55, $fz);
        }
      }
    }
  }

  &--is-card {
    display: flex;
    justify-content: space-between;
    padding-left: em(47, $fz);

    #{$self} {
      display: flex;

      &__media {
        order: 1;
        width: 100%;
        max-width: em(697, $fz);
        margin-left: em(125, $fz);
      }

      &__img {
        height: em(688, $fz);
      }

      &__socials {
        top: em(20, $fz);
        right: em(25, $fz);
      }
      
      &__info {
        width: 100%;
        max-width: em(571, $fz);
      }

      &-socials {
        &__item {
          &:not(:last-child) {
            margin-right: em(15, $fz);
          }
        }
      }

      &-info {
        display: flex;
        flex-direction: column;

        &__promo {
          $fz: 36;
          margin-top: em(70, $fz);
          color: var(--secondary);
          font-size: em($fz, $fz_base);
        }

        &__wrapper {
          width: 100%;
          max-width: em(459, $fz);
          margin-top: auto;
        }

        &__btn {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: em(11 72 11 86, $fz);
        }
      }
    }
  }

  &--is-banner {
    #{$self} {
      &__socials {
        top: em(10, $fz);
        right: em(10, $fz);
      }

      &__img {
        height: em(630, $fz);
      }

      &-socials {
        &__item {
          &:not(:last-child) {
            margin-right: em(20, $fz);
          }
        }
      }
    }
  }
}

.bs-first-screen-socials {
  &__link {
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}

.bs-first-screen-info {
  &__title {
    $fz: 36;
    color: var(--secondary);
    text-transform: uppercase;
    font-size: em($fz, $fz_base);
    font-weight: 600;
  }

  &__btn {
    border-radius: em(50, $fz);
    background-color: var(--theme);
    color: var(--primary);
    box-shadow: em(10 10 10, $fz) hsla(0, 0%, 0%, 0.25);
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--border-clr);
    }
  }
}

.bs-first-screen-info-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    &:not(:first-child) {
      margin-top: em(30, $fz);
    }
  }

  &__link {
    color: var(--theme);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--border-clr);
    }
  }
}

.bs-first-screen-info-btn {
  &__text {
    $fz: 36;
    font-size: em($fz, $fz_base);
    font-weight: 600;
  }
}
