.bs-first-screen {
  $self: &;

  &--is-full {
    #{$self} {
      &__media {
        position: relative;
      }
      
      &__img {
        height: em(715, $fz); 
      }
      
      &__info {
        margin-top: em(23, $fz);
      }
      
      &__socials {
        position: absolute;
        top: em(30, $fz);
        right: em(25, $fz);
      }
      
      &-socials {
        &__item {
          &:not(:last-child) {
            margin-right: em(50, $fz);
          }
        }

        &__link {
          transition: opacity 0.3s ease-in-out;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      &-info {
        padding-right: em(65, $fz);
        padding-left: em(65, $fz);

        &__title {
          $fz: 36;
          color: var(--secondary);
          text-transform: uppercase;
          font-size: em($fz, $fz_base);
          font-weight: 600;
        }

        &__promo {
          $fz: 24;
          margin-top: em(80, $fz);
          font-size: em($fz, $fz_base);
        }

        &__wrapper {
          margin-top: em(75, $fz);

          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &__btn {
          $fz: 36;
          width: 100%;
          max-width: em(466, $fz);

          padding: em(15 55, $fz);
          border-radius: em(50, $fz);
          background-color: var(--theme);
          color: var(--primary);
          box-shadow: em(10 10 10, $fz) hsla(0, 0%, 0%, 0.25);
          font-size: em($fz, $fz_base);
          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: var(--border-clr);
          }
        }
      }

      &-info-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__item {
          &:not(:first-child) {
            margin-top: em(30, $fz);
          }
        }

        &__link {
          $fz: 24;
          color: var(--theme);
          font-size: em($fz, $fz_base);
          transition: color 0.3s ease-in-out;

          &:hover {
            color: var(--border-clr);
          }
        }
      }
    }
  }
}